@import '@/styles/vars';

.item {
	box-shadow: 0px 10px 13px -4px $dark-blue;
	border-radius: $border-radius;

	&__header {
		border-radius: $border-radius $border-radius 0 0;
		padding: 9px 55px;
	}
	&__footer {
		padding: 15px 18px;
	}
}
